<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Dashboard EJS Page
    <br>
    <br>
    Name : <%=name%><br>   
    <br>
    <br>
    
    <a href="/users/profile">Profile</a>
    <a href="/users/startQuiz">Quiz Start</a>
    <a href="/users/logout">Logout</a>
</body>
</html>